{% extends 'base_admin.html.twig' %}

{% block body %}
    <div class="container contenido">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="page-header">Gestión de Categorías</h2>
            </div>
        </div>
    </div>
{% endblock %}