{% extends 'base_admin.html.twig' %}

{% block body %}
    <div class="container-fluid pagina-principal">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="page-header" style="margin-top:20px;">PAGINA ADMINISTRATIVA DE LOS ACTIVOS<br/>
                    FIJOS DE LA UAZ CAMPUS JALPA</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid logo">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ asset('imagenes/logo_uaz.jpg') }}" alt="Logo de la UAZ" class="center">
            </div>
        </div>
    </div>
{% endblock %}